
<div class="card">
    <div class="card-header">
        Advance Salary History
    </div>
    <div class="card-body">
        <table class="table" id="advanceandloanTable">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Employee Name</th>
                    <th>Designation</th>
                    <th>Join Date</th>
                    <th>Total Advance</th>
                    <th>Deducted</th>
                    <th>Current Advance</th>
                </tr>
            </thead>

        </table>
    </div>
    <div class="card-footer">
        <a href="/Salarysheets/Advance_salary" class="loadPartial btn btn-sm btn-primary float-right">New Advance Salary</a>
    </div>
</div>



<div id="javascript" data-function="SalarySheetsAdvanceHistory"></div>
