<div class="card">
    <div class="card-header">
        Activity Logs
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="activity_log_table">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Date & Time</th>
                        <th>User </th>
                        <th>Activity</th>
                        <th>Browser </th>
                        <th>Ip</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="javascript" data-function="SettingActivity"></div>

