
<div class="col-md-3 offset-md-4">
    <div class="btn btn-group">
        <a href="/Setting/SMSConfiguration" class="btn btn-outline-warning"> SMS </a>
        <a href="/Setting/MailConfiguration" class="btn btn-outline-info"> E-mail </a>
    </div>
</div>