        <div style="margin:0px auto; width:800px; background-color:#6f6767; padding: 50px 10px;">
            <div style="width: 650px; margin:0px auto; background-color: white; border-radius: 20px; padding: 20px;">
                <div class="header" style="">
                    <h2 style="padding: 0px;  margin:0px; text-align:center; color:green;">Human Resourse Management System</h2>
                    <p style="text-align:center; font-style:italic; margin:0px; font-size:12px;">
                        Lorem Ipsum <br /> Lorem Ipsum
                    </p>
                </div>
            
                <div class="title" style="width:400px; margin:30px auto 10px auto;">
                    <h3>{1}</h3>
                </div>
                <div class="body" style="text-align:center; margin:0px auto;"> 
                    <div style="margin:0px auto; width:400px;">
                        <p style="margin:0px; text-align:justify;">
                            <b> Warning:</b> In {2} You have request to reset your password using our <a href="https://">site</a>, click following link to reset password if you would not do that ignore this.
                        </p>
                    </div>
                        <div style="margin:0px auto; width:200px;">
                            <a href="{0}" style="text-decoration:none; display:block; padding: 5px 10px; background-color:green; text-align:center; border-radius:20px; color: white;" onmouseover="this.style.background = 'red'" onmouseout="this.style.background = 'green'">Click here..</a>
                        </div>
                    </div>
                    <div class="footer" style="margin-top: 40px;">
                        <h4 style="padding: 0px;  margin:0px; text-align:center; color:green;">Address</h4>
                        <div style="width: 350px; margin:0px auto; justify-content:center; ">
                            <p style="font-size:12px; text-align: center;  padding: 5px 10px; margin:0px;">
                               Well format address
                            </p>

                        </div>
                    </div>
                </div>
        </div>

