<page size="A4">
    <h4 class="text-center">Human Resources Management System</h4>
    <center>
        <p clsss="">Version : 2021.01 <br /> Developed by : <strong>Mohammad Ismail</strong></p>



        <br />
        <br />
        <h5>Disclaimer</h5>
        <p class="text-uppercase text-justify"> This application given permission to use "Company Name", without my permission backend change is totally restricted. free service will be cancelled if you change of code without my permission. It is also totally disallowed  selling to another Company/person  </p>


        <br />
        <br />
        <h5>Support</h5>
        <ul>
            <li> <strong>Mohammad Ismail</strong></li>
            <li> <a href="mailto:ismail.chatme@gmail.com"><i class="fa fa-inbox"></i> ismail.chatme@gmail.com</a></li>
            <li> <a href="tel:+8801750921421"><i class="fa fa-phone"></i> +880 1750921421</a></li>
            <li> <a href="https://www.fiverr.com/users/coxismail/"><i class="fa"></i> Fiverr</a></li>
            <li> <a href="https://www.linkedin.com/in/coxismail/"><i class="fa fa-linkedin"></i> Linkedin</a></li>
        </ul>
    </center>
</page>
